*{
margin: 0;
padding: 0;
}

header{
 height: 150px;
 background-color:  #c0bda5ff;
}

ul{
display: flex;
flex-wrap:wrap;
gap: 10%;
align-items: center;
justify-content: center;
height: 150px;
}
li{
list-style:none;
}
a{
text-decoration: none;
color: #261447ff;
font-size: 1.5rem;
cursor: pointer;
}

.contenedor_main_home{
display: flex;
flex-direction: column;
background-color: #9f2042ff;
align-items: center;
justify-items: center;

}


.contenedor_logo img{
 margin-top: 50px;
  width: 100%;
  

    }

.contenedor_parrafo{

margin-top: 50px;
margin-bottom: 50px;
text-align: center;
}
.contenedor_parrafo p{

    font-size: 18px;

    color:#c0bda5ff
    
}
span{
    font-weight: bold;

}

footer{
height: 180px;
background-color: #c0bda5ff;
text-align: center;



}
.integrantes{
display: flex;
flex-direction: column;
text-align: justify;
margin-left: 50px;
}
.integrantes p{
font-weight: bold;
margin-top: 10px;
margin-bottom: 5px;
margin-left: 15px;
font-size: 20px;
}
.integrantes ul{
display: block;
height: auto;
font-size: 20px;

}
.contenedor_footer{

display: flex;
justify-items: center;
justify-content: space-around;
}
.imagen_footer{
  
    width: 7%;
    height: 7%;
    margin-top: 15px;
}
.derechos_reservados{
    margin-top: 10px;
    font-size: 1.5rem;
}

/* *******************    MEDIA QUERIS ********************* */

@media (max-width: 480px) {
   
    header{
       
       height: 200px;
       }
       ul{
        flex-wrap: nowrap;
       flex-direction: column;
       text-align: center;
        }
        footer{
        height: 180px;
        
        }

        .imagen_footer{
        
        width: 20%;
        height: 20%;
        
        }
        .derechos_reservados{
           margin-top: 30px;
        font-size: 1rem;
        }
     
}